<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="ArmacaoPart.style.html">

<dom-module id="armacaopart-page">
    <template>
        <style include="armacaopart-style"></style>

        <div class="page display-table-on-mobile flex-size-12 flex-vertical flex-stretch">


                <paper-input label="Buscar" class="card" no-label-float  >
                    <iron-icon icon="search" slot="prefix"></iron-icon>
                </paper-input>


                <iron-ajax url="../..//armacao.json  " last-response="{{data}}" auto></iron-ajax>
                <iron-list id="list" items="[[data]]" as="item" selection-enabled>
                    <template>
                        <div class="item" tabindex$="[[tabIndex]]">
                            <iron-image class="avatar" sizing="contain" src="[[item.image]]"></iron-image>
                            <div class="pad justified-start">
                                <div class="primary">
                                    [[item.name]]
                                    <div class="shortText">[[item.descricao]]</div>
                                </div>
                            </div>
                            <div class="justified-space-around flex-vertical">
                                <div class="code">[[item.index]]</div>
                                <div class="primary price">[[item.preco]]</div>
                            </div>

                        </div>
                    </template>
                </iron-list>

        </div>
    </template>
    <script src="ArmacaoPart.component.js"></script>
</dom-module>