<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="Armacao.style.html">

<dom-module id="armacao-page">
    <template>
        <style include="armacao-style"></style>
        <app-header class="page-header">
            <app-toolbar>
                <paper-icon-button icon="arrow-back" onClick="javascript:history.back()"></paper-icon-button>

                    <paper-input label="Buscar" class="search" no-label-float on-value-changed="onChangeValueSearch" >
                        <iron-icon icon="search" slot="prefix"></iron-icon>
                        <iron-icon icon="close" slot="suffix"></iron-icon>
                    </paper-input>
                <paper-icon-button icon="filter-list" id="buttonfilter"></paper-icon-button>

                <paper-menu-button  horizontal-align="right">
                    <paper-icon-button icon="swap-vert" slot="dropdown-trigger" alt="menu"></paper-icon-button>
                    <paper-listbox slot="dropdown-content">

                        <paper-item><iron-icon icon="close"></iron-icon> Label da Ação</paper-item>
                        <paper-item><iron-icon icon="close"></iron-icon> Metodo com Nome longo</paper-item>
                        <paper-item><iron-icon icon="close"></iron-icon> Item3</paper-item>
                    </paper-listbox>
                </paper-menu-button>

                <!--<paper-icon-button icon="view-list" id="button-refresh"></paper-icon-button>-->
                <paper-icon-button icon="view-module" id="button-refresh"></paper-icon-button>

            </app-toolbar>
        </app-header>

        <app-drawer id="endDrawer" align="end"></app-drawer>

        <iron-swipeable-pages edge-swipe-sensitivity="35" selected="0" threshold="0.1">
            <div page="page1">
                <div metabar>
                    <div class="done"></div>
                </div>
                <div class="page">
                    <div class=" display-table-on-mobile flex-size-12 flex-vertical flex-stretch">




                        <iron-ajax url="../../armacao.json  " last-response="{{data}}" on-response="handleResponse" auto></iron-ajax>
                        <div id="list">
                            <template is="dom-repeat" items="{{dataList}}">
                                <a href="/dashboard/vendas" class="item" tabindex$="[[tabIndex]]">
                                    <iron-image class="avatar" sizing="contain" src="[[item.image]]"></iron-image>
                                    <div class="pad justified-start">
                                        <div class="primary">
                                            [[item.name]]
                                            <div class="shortText">[[item.descricao]]</div>
                                        </div>
                                    </div>
                                    <div class="justified-space-around flex-vertical">
                                        <div class="code">[[item.index]]</div>
                                        <div class="primary price">[[item.preco]]</div>
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div page="page2">
                <div class="page">
                <h2>Meta de Vendas</h2>
                </div>
            </div>

        </iron-swipeable-pages>

        </div>

        <paper-fab mini icon="add" id="add"></paper-fab>

        <paper-dialog id="actions" with-backdrop>

            <h2>Filtros Avançados:</h2>

            <paper-button dialog-dismiss style=" position: absolute; padding:0; min-width: 30px; height: 30px; border-radius: 30px; right:0; top: 0;"><iron-icon icon="close"></iron-icon></paper-button>

            <paper-card class="display-table-on-mobile flex-horizontal">
                <div class="card-content flexchild-vertical flex-size-12">

                    <div class="contain-three-inputs flex-horizontal display-table-on-mobile">

                        <paper-input label="Pesquisar nome do produto" class="flexchild size16 flex-size-3"></paper-input>
                    </div>

                    <div class="contain-three-inputs flex-horizontal display-table-on-mobile">

                        <paper-input label="Pesquisar preço do produto" class="flexchild size16 flex-size-3"></paper-input>
                    </div>

                    <div class="contain-three-inputs flex-horizontal display-table-on-mobile">

                        <paper-input label="Pesquisar código do produto" class="flexchild size16 flex-size-3"></paper-input>
                    </div>

                    <div class="contain-three-inputs flex-horizontal display-table-on-mobile">

                        <paper-input label="Pesquisar termo na descrição do produto" class="flexchild size16 flex-size-3"></paper-input>
                    </div>

                </div>

            </paper-card>

            <div class="buttons">
                <paper-button>Limpar</paper-button>
                <paper-button dialog-confirm autofocus class="blue">Buscar</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script src="Armacao.component.js"></script>
</dom-module>