<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../owner_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">

<!--
  <link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable.html">
-->

<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../../bower_components/iron-swipeable-pages/iron-swipeable-pages.html">

<link rel="import" href="../contatos/Contatos.component.html">
<link rel="import" href="../lists/Lists.component.html">
<link rel="import" href="../lists/ListsGrid.component.html">
<link rel="import" href="../lists/ListsGridInfo.component.html">
<link rel="import" href="../timeline/Timeline.component.html">
<link rel="import" href="../drag/Drag.component.html">
<link rel="import" href="../chat/Chat.component.html">
<link rel="import" href="../itens/Itens.component.html">
<link rel="import" href="../prescricao/Prescricao.component.html">
<link rel="import" href="../armacao/Armacao.component.html">
<link rel="import" href="../armacao/ArmacaoForm.component.html">
<link rel="import" href="../oculosdegrau/Oculosdegrau.component.html">
<link rel="import" href="../lentes/Lentes.component.html">
<link rel="import" href="../vendas/Vendas.component.html">

<link rel="import" href="Dashboard.style.html">

<dom-module id="dashboard-page">
    <template>
        <style include="dashboard-style"></style>

        <app-header condenses reveals effects="waterfall">
            <app-toolbar>
                <paper-icon-button icon="menu" id="buttonMenu"></paper-icon-button>
                <div main-title>
                    <img src="http://beta.spartandesign.com.br/b15/wp-content/uploads/2017/12/Logo_b15_home_footer.png"
                         alt="B15" width="50" class="b15" style="margin-left: 8px">
                </div>

                <paper-icon-button icon="question-answer" id="button-import" class="hideonmobile"></paper-icon-button>
                <paper-tooltip for="button-import" offset="0" position="top">Chat</paper-tooltip>

                <paper-icon-button icon="thumb-up" id="button-refresh" class="hideonmobile"></paper-icon-button>
                <paper-tooltip for="button-refresh" offset="0" position="top">Timeline</paper-tooltip>

                <paper-icon-button icon="social:notifications-active" id="button-save" class="hideonmobile"></paper-icon-button>
                <paper-tooltip for="button-save" offset="0" position="top">Timeline</paper-tooltip>


            </app-toolbar>
        </app-header>

        <app-drawer id="menuDrawer" align="start" swipe-open>
            <div id="menubody" style="height: 100%; overflow: auto;">
                <div class="head">
                    <iron-image
                            class="avatar"
                            sizing="contain"
                            src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/73.jpg">
                    </iron-image>

                    <div class="contact-info">
                        <p><strong>Orlando Bueno</strong></p>
                        <p>Diniz Franchising</p>
                    </div>
                    <ul>

                        <li on-click="toggle2" aria-expanded$="[[opened2]]" aria-controls="collapse"
                            class="collapse-menu">
                            <a tabindex="-1">
                                Ótica Diniz
                                <iron-icon icon="arrow-drop-down" slot="item-icon"></iron-icon>
                            </a>
                        </li>
                        <iron-collapse id="collapse2" opened="{{opened2}}">
                            <ul class="menu-content">

                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]armacaoform" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Optdados
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]listagrid" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Geek
                                    </a>
                                </li>
                            </ul>
                        </iron-collapse>
                    </ul>
                </div>

                <iron-selector id="menu" class="drawer-list" selected="[[page]]" attr-for-selected="name"
                               class="drawer-list" role="navigation">


                        <paper-input label="Buscar" class="card" no-label-float tabindex="-1">
                            <iron-icon icon="search" slot="prefix"></iron-icon>
                        </paper-input>

                    <hr class="separated hideondesktop">
                    <div class="flex-horizontal hideondesktop">
                        <paper-item tabindex="-1">
                            <a href="[[dashboardPath]]chat" class="menu" tabindex="-1">
                                <iron-icon icon="question-answer" slot="item-icon" class="geek-blue"></iron-icon>
                                <div main-code class="bs-label bg-red">53</div>
                            </a>
                        </paper-item>

                        <paper-item tabindex="-1">
                            <a href="[[dashboardPath]]timeline" class="menu" tabindex="-1">
                                <iron-icon icon="thumb-up" slot="item-icon"></iron-icon>
                                <div main-code class="bs-label bg-transparent">22</div>
                            </a>
                        </paper-item>

                        <paper-item tabindex="-1">
                            <a href="[[dashboardPath]]timeline" class="menu" tabindex="-1">
                                <iron-icon icon="social:notifications-active" slot="item-icon"></iron-icon>
                                <div main-code class="bs-label bg-transparent">22</div>
                            </a>
                        </paper-item>
                    </div>

                    <hr class="separated">


                    <p>
                        <small>Menu</small>
                    </p>

                    <ul>
                        <li tabindex="-1">
                            <a href="[[dashboardPath]]lista" class="menu" tabindex="-1">
                                <iron-icon icon="supervisor-account" slot="item-icon"></iron-icon>
                                Listar ontatos
                            </a>
                        </li>

                        <li tabindex="-1">
                            <a href="[[dashboardPath]]listagrid" class="menu" tabindex="-1">
                                <iron-icon icon="star" slot="item-icon"></iron-icon>
                                Listar Itens
                            </a>
                        </li>

                        <li tabindex="-1">
                            <a href="[[dashboardPath]]armacao" class="menu" tabindex="-1">
                                <iron-icon icon="view-headline" slot="item-icon"></iron-icon>
                                Listar Produtos
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a href="[[dashboardPath]]vendas" class="menu" tabindex="-1">
                                <iron-icon icon="editor:attach-money" slot="item-icon"></iron-icon>
                                Iniciar Atendimento
                            </a>
                        </li>
                    </ul>

                    <ul>
                        <li on-click="toggle" aria-expanded$="[[opened]]" aria-controls="collapse"
                            class="collapse-menu">
                            <a tabindex="-1">
                                Outros
                                <iron-icon icon="arrow-drop-down" slot="item-icon"></iron-icon>
                            </a>
                        </li>

                        <iron-collapse id="collapse" opened="{{opened}}">
                            <ul class="menu-content">
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]drag" class="menu" tabindex="-1">
                                        <iron-icon icon="extension" slot="item-icon"></iron-icon>
                                        Drag
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]oculosdegrau" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Oculos de Grau
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]prescricao" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Prescrição
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]armacao" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Armação
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]armacaoform" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Armação Formulário
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]listagrid" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        List Grid
                                    </a>
                                </li>
                                <li tabindex="-1">
                                    <a href="[[dashboardPath]]lentes" class="menu" tabindex="-1">
                                        <iron-icon icon="label" slot="item-icon"></iron-icon>
                                        Lentes
                                    </a>
                                </li>
                            </ul>
                        </iron-collapse>
                    </ul>
                    <hr class="separated">

                    <ul>
                        <li tabindex="-1">
                            <a href="[[rootPath]]" tabindex="-1">
                                <iron-icon icon="help" slot="item-icon"></iron-icon>
                                Ajuda
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a href="[[rootPath]]" tabindex="-1">
                                <iron-icon icon="settings" slot="item-icon"></iron-icon>
                                Configurações
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a href="[[rootPath]]" tabindex="-1">
                                <iron-icon icon="cached" slot="item-icon"></iron-icon>
                                Sincronizar
                            </a>
                        </li>
                    </ul>
                    <hr class="separated">
                    <ul>
                    <li tabindex="-1">
                        <a href="[[rootPath]]" class="geek-blue" tabindex="-1">
                            <iron-icon icon="settings-power" slot="item-icon"></iron-icon>
                            Logout
                        </a>
                    </li>
                    </ul>


                </iron-selector>
                <hr class="separated">
                <p>
                    <small>OptiSoul - Optidados</small>
                </p>
                <p>
                    <small>©2018 Geeks Labs, B15</small>
                </p>
            </div>
        </app-drawer>

        <section id="view">
            <app-route
                    route="{{route}}"
                    pattern="/:page"
                    data="{{routeData}}">
            </app-route>
            <iron-pages
                    selected="[[routeData.page]]"
                    attr-for-selected="name"
                    fallback-selection="contatos"
                    selected-attribute="visible"
                    role="main">
                <contatos-page name="contatos"></contatos-page>
                <lists-page name="lista"></lists-page>
                <listsgrid-page name="listagrid"></listsgrid-page>
                <listsgridinfo-page name="listsgridinfo"></listsgridinfo-page>
                <drag-page name="drag"></drag-page>
                <timeline-page name="timeline"></timeline-page>
                <chat-page name="chat"></chat-page>
                <itens-page name="itens"></itens-page>
                <prescricao-page name="prescricao"></prescricao-page>
                <oculosdegrau-page name="oculosdegrau"></oculosdegrau-page>
                <armacao-page name="armacao"></armacao-page>
                <armacaoform-page name="armacaoform"></armacaoform-page>
                <lentes-page name="lentes"></lentes-page>
                <vendas-page name="vendas"></vendas-page>
            </iron-pages>
        </section>

    </template>

    <script src="Dashboard.component.js"></script>

</dom-module>
