<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="Timeline.style.html">

<dom-module id="timeline-page">
    <template>
        <style include="timeline-style"></style>

        <div class="timeline">
            <ul>
                <li>
                    <div class="bullet "></div>
                    <div class="time">5pm</div>
                    <paper-card class="desc">
                        <h3>New Icon</h3>
                        <h4>Mobile App</h4>
                    </paper-card>
                </li>
                <li>
                    <div class="bullet "></div>
                    <div class="time">3 - 4pm</div>
                    <paper-card class="desc">
                        <h3>Design Stand Up</h3>
                        <h4>Hangouts</h4>
                        <div class="people">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ashleyford/128.jpg" alt="" />
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg" alt="" />
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" alt="" />
                        </div>
                    </paper-card>
                </li>
                <li>
                    <div class="bullet"></div>
                    <div class="time">12pm</div>
                    <paper-card class="desc">
                        <h3>Lunch Break</h3>
                    </paper-card>
                </li>
                <li>
                    <div class="bullet"></div>
                    <div class="time">9 - 11am</div>
                    <paper-card class="desc">
                        <h3>Finish Home Screen</h3>
                        <h4>Web App</h4>
                    </paper-card>
                </li>
            </ul>
        </div>
    </template>
    <script src="Timeline.component.js"></script>
</dom-module>