<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="LentesPart.style.html">

<dom-module id="lentespart-page">
    <template>
        <style include="lentespart-style"></style>

        <div class="page display-table-on-mobile flex-size-12 flex-vertical flex-stretch">


            <paper-tabs selected="{{selected3}}" >
                <paper-tab active>Lente Olho Direito</paper-tab>
                <paper-tab>Lente Olho Esquerdo</paper-tab>
            </paper-tabs>
            <iron-pages selected="{{selected3}}">
                <div class="display-table-on-mobile width100 self-stretch">
                    <paper-card class="display-table-on-mobile flex-horizontal">

                        <div class="card-content flexchild-vertical flex-size-2 border-left ">


                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Código de barra" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Marca" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Código" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Descrição" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Material" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Cor" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Esférico" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Cilíndrico" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Eixo" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                        </div>
                    </paper-card>
                    <paper-card class="display-table-on-mobile flex-horizontal">

                        <div class="card-content flexchild-vertical flex-size-8">

                            <div class="flex-horizontal width100 justified-space-between">
                                <div class="title">Tratamentos (Lente O.D.)</div>
                                <paper-fab mini super-mini icon="add" class="add"></paper-fab>
                            </div>

                            <div class="container flex-horizontal display-table-on-mobile">
                                <paper-input label="Código" class="flexchild"></paper-input>
                                <paper-input label="Descrição" class="flexchild flex-size-2"></paper-input>
                                <paper-input label="Valor" class="flexchild"></paper-input>
                                <paper-fab mini super-mini icon="clear" class="clear"></paper-fab>
                            </div>
                        </div>


                    </paper-card>
                </div>
                <div class="display-table-on-mobile width100 self-stretch">
                    <paper-card class="display-table-on-mobile flex-horizontal">

                        <div class="card-content flexchild-vertical flex-size-2 border-left ">


                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Código de barra" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Marca" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Código" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Descrição" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                            <div class="contain-three-inputs flex-horizontal">
                                <paper-input label="Material" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Cor" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Esférico" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Cilíndrico" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                                <paper-input label="Eixo" class="flexchild size18 flex-size-3" always-float-label></paper-input>
                            </div>
                        </div>
                    </paper-card>
                    <paper-card class="display-table-on-mobile flex-horizontal">

                        <div class="card-content flexchild-vertical flex-size-8">

                            <div class="flex-horizontal width100 justified-space-between">
                                <div class="title">Tratamentos (Lente O.E.)</div>
                                <paper-fab mini super-mini icon="add" class="add"></paper-fab>
                            </div>

                            <div class="container flex-horizontal display-table-on-mobile">
                                <paper-input label="Código" class="flexchild"></paper-input>
                                <paper-input label="Descrição" class="flexchild flex-size-2"></paper-input>
                                <paper-input label="Valor" class="flexchild"></paper-input>
                                <paper-fab mini super-mini icon="clear" class="clear"></paper-fab>
                            </div>
                        </div>


                    </paper-card>
                </div>

            </iron-pages>
        </div>
    </template>
    <script src="LentesPart.component.js"></script>
</dom-module>